#easy-api：将配置文件添加到项目中

#使用配置文件来添加规则：http://easyyapi.com/setting/local-file-config.html

#推荐的配置见：https://github.com/tangcent/easy-yapi/blob/master/idea-plugin/src/main/resources/.recommend.easy.api.config

#------------------------------自己扩展的配置----------------------------------------------------

#用于标记字段是否为必须官方文档：http://easyyapi.com/setting/rules/field_required.html
#扩展非空的注解：支持hibernate-validator
param.required=@org.hibernate.validator.constraints.NotBlank
field.required=@org.hibernate.validator.constraints.NotBlank
param.required=@org.hibernate.validator.constraints.NotEmpty
field.required=@org.hibernate.validator.constraints.NotEmpty

#api注释官方文档：http://easyyapi.com/setting/rules/method_doc.html
#扩展接口的注释：支持读取MethodLog的logPrefix作为接口的注释
method.doc=@com.tz.redismanager.annotation.MethodLog#logPrefix