<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tz.redismanager.dao.mapper.UserPOMapper">
  <resultMap id="BaseResultMap" type="com.tz.redismanager.dao.domain.po.UserPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="if_del" jdbcType="INTEGER" property="ifDel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, pwd, status, note, creater, create_time, updater, update_time, if_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="selectByNamePwd" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where name = #{name,jdbcType=VARCHAR} and pwd = #{pwd,jdbcType=VARCHAR} and if_del = #{ifDel,jdbcType=INTEGER}
    limit 1
  </select>
  <select id="selectPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where if_del = #{ifDel,jdbcType=INTEGER}
    <if test="name != null">
      AND LOCATE(#{name,jdbcType=VARCHAR},name) > 0
    </if>
    <if test="status != null">
      AND status = #{status,jdbcType=INTEGER}
    </if>
    ORDER BY create_time DESC
    LIMIT #{offset,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
  </select>
  <select id="selectToAnalysis" resultType="com.tz.redismanager.dao.domain.dto.UserAnalysisDTO">
    SELECT COUNT(id) AS userCount,create_time AS createTime FROM t_user
    WHERE if_del = #{ifDel,jdbcType=INTEGER}
    GROUP BY DATE_FORMAT(create_time,'%Y-%m-%d')
  </select>
  <select id="countUser" resultType="java.lang.Integer">
    select
    count(id)
    from t_user
    where if_del = #{ifDel,jdbcType=INTEGER}
    <if test="name != null">
      AND LOCATE(#{name,jdbcType=VARCHAR},name) > 0
    </if>
    <if test="status != null">
      AND status = #{status,jdbcType=INTEGER}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tz.redismanager.dao.domain.po.UserPO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into t_user (id, name, pwd, status,
      note, creater, create_time, 
      updater, update_time, if_del
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{note,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{ifDel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tz.redismanager.dao.domain.po.UserPO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updater != null">
        updater,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="ifDel != null">
        if_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ifDel != null">
        #{ifDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tz.redismanager.dao.domain.po.UserPO">
    update t_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ifDel != null">
        if_del = #{ifDel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tz.redismanager.dao.domain.po.UserPO">
    update t_user
    set name = #{name,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      if_del = #{ifDel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPwd">
    update t_user
    set pwd = #{pwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER} and pwd = #{oldPwd,jdbcType=VARCHAR}
  </update>
  <update id="batchUpdateStatus">
    update t_user
    set status = #{status,jdbcType=INTEGER},
      updater = #{updater,jdbcType=VARCHAR},
      update_time = now()
    where id in
    <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
      #{id,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>